<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufrpe.safecampus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_dsu_ufrpe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".view.CadastroActivity" />
        <activity android:name=".view.BotaoPanicoActivity" />
        <activity android:name=".view.RelatorioActivity" />
        <activity android:name=".view.PerfilActivity" />
        <activity android:name=".view.TipoOcorrenciaActivity" />
        <activity android:name=".view.RegistroActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />
        <activity
            android:name=".view.TelaInicialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <receiver android:name=".MediaButtonReceiver">
            <!--<intent-filter><action android:name="android.media.VOLUME_CHANGED_ACTION"/></intent-filter>-->
            <intent-filter android:priority="2147483647">
                <action android:name="android.media.VOLUME_CHANGED_ACTION"/>
            <!--<action android:name="android.intent.action.MEDIA_BUTTON"/>-->
            </intent-filter>
        </receiver>

        <uses-permission android:name="android.permission.PREVENT_POWER_KEY"/>

    </application>

</manifest>